training/cmp-databinding-start/node_modules
training/my-first-app/node_modules

training/recipe-book-shopping-list-app/node_modules
training/recipe-book-shopping-list-app/src/environments/environment.prod.ts
training/recipe-book-shopping-list-app/src/environments/environment.ts
training/directives-start/node_modules
training/services-start/node_modules
training/services-assignment/node_modules
training/routing-start/node_modules
training/obs-01-start/node_modules
training/forms-td-start/node_modules
training/forms-reactive-start/node_modules
training/forms-start/node_modules
training/pipes-start/node_modules
training/http-01-start/node_modules
training/firebase_deploy.png
training/standalone-components-01-start/node_modules
training/routing-with-standalone-components-start/node_modules
training/ng-universal-01-start/node_modules
training/ng-pwa-01-start/node_modules
training/angular-pwa-start/node_modules
training/testing-final/node_modules
training/typescript-intro-01-finished/node_modules
training/animations-start/node_modules

final/node_modules
final/src/environments/environment.prod.ts
final/src/environments/environment.ts