<div class="col-xs-12 panel">
    <div class="row text-center">
        <div class="col-xs-12">
            <h1 class="title">{{recipe.name}}</h1>
        </div>
    </div>
    <hr>
    <div class="row m-b-8">
        <div class="col-xs-12">
            <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive center-block"
                style="max-height: 300px;">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group pull-right" appDropdown>
                <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a (click)="addToShoppingList()" class="cursor-pointer">To Shopping List</a></li>
                    <li><a class="cursor-pointer" (click)="editRecipe()">Edit Recipe</a></li>
                    <li><a class="cursor-pointer" (click)="deleteRecipe()">Delete Recipe</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 m-b-8 m-t-8">
            <span style="font-weight: bold;">{{recipe.description}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item m-b-8" *ngFor="let ingredient of recipe.ingredients">
                    <div>
                        <span class="text-muted">
                            {{ingredient.name}} - {{ingredient.amount}}
                        </span>
                        <a class="btn btn-xs btn-success pull-right" (click)="searchIngredient(ingredient)">Search</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-xs-12 panel">
    <div *ngIf="isLoading" class="text-center">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="!showSupermarkets && notProducts">
        <p class="text-muted">There is no stock of the ingredient {{ingredientToSearch}}</p>
    </div>
    <div *ngIf="showSupermarkets">
        <span class="text-muted">Searched ingredient: <strong>{{ingredientToSearch}}</strong></span>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Supermarket</th>
                        <th scope="col">Address</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productsInSupermarkets;let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td class="green-color">{{product.superName}}</td>
                        <td class="green-color">{{product.superAddress}}</td>
                        <td class="green-color">${{product.product.price}}</td>
                        <td
                            [ngClass]="{'little-stock': product.product.stock < stockLimit, 'green-color': product.product.stock >= stockLimit}">
                            {{product.product.stock}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>